<!-- <h3 *ngIf="categories ; else categoryList">{{title}}</h3> -->

<ng-template #categoryList>
    <div class="alert alert-primary" role="alert">
        Kategori bulunamadı.
    </div>
</ng-template>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex ">
        <a routerLink="/products/" class="p-2 link-secondary">Tüm Ürünler</a>
        <a *ngFor="let category of categories" routerLink="/products/category/{{category.id}}" class="p-2 link-secondary">{{category.name}}</a>
    </nav>
</div>