<div class="product-form-2">
    <h3>Yeni Ürün Ekle</h3>
    <!-- form için # kullanarak isim vermeliyiz aynı şekilde inputlar için de ; -->
    <form [formGroup]="productAddForm" (ngSubmit)="add()" class="form-group">
        <div class="form-group mb-3">
            <input formControlName="name" class="form-control" type="text" name="name" id="name" placeholder="Ürün adı" required>
        </div>
        <!-- input click olduysa ve içine metin yazılıp silindiyse bu dirty olur -->
        <!-- input click oldu hiçbir şey yazılmadıysa bu durum name.touched olur -->
        <!-- hiçbir işlem yapılmadıysa name.pristine olur -->
        <div *ngIf="productAddForm.get('name')?.hasError('required') && productAddForm.get('name')?.dirty" class="alert alert-danger">Ürün ismi gereklidir</div>
        <div class="form-group mb-3">
            <input formControlName="description" class="form-control" type="text" name="description" id="description" placeholder="Ürün Açıklaması" required>
        </div>
        <div *ngIf="productAddForm.get('description')?.hasError('required') && productAddForm.get('description')?.dirty" class="alert alert-danger">Ürün açıklaması gereklidir</div>
        <div class="form-group mb-3">
            <input formControlName="imageUrl" class="form-control" type="text" name="imageUrl" id="imageUrl" placeholder="Ürün Fotoğrafı" required>
        </div>
        <div *ngIf="productAddForm.get('imageUrl')?.hasError('required') && productAddForm.get('imageUrl')?.dirty" class="alert alert-danger">Ürün fotoğrafı gereklidir</div>
        <div class="form-group mb-3">
            <input formControlName="price" class="form-control" type="text" name="price" id="price" placeholder="Ürün Fiyatı" required>
        </div>
        <div class="form-group mb-3">
            <select class="form-control" formControlName="categoryId" name="categoryId" id="categoryId" required>
            <option *ngFor="let category of categories" [value]="category.id"> {{category.name}}</option>
        </select>
        </div>
        <div *ngIf="productAddForm.get('categoryId')?.hasError('required') && productAddForm.get('categoryId')?.touched" class="alert alert-danger">Kategori seçimi gereklidir</div>
        <button type="submit" class="btn btn-primary" [disabled]="productAddForm.invalid"> Ürün Ekle </button>
    </form>
</div>